{{!< layout/default}}


<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Passionate about riding?</h1>

            <div class="well invite-box" >
                <form action='/' method='POST' id='form-outer'>
                    <div class="form-group">
                    <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Name" required="true" />
                  </div>
                  <div class="form-group">
                      <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email" required="true" />
                      <span id='email-error' hidden="true">An invitation is registered with this email address.</span>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon">+91</div>
                        <input type="tel" class="form-control" name="inputPhone" id="inputPhone" placeholder="Phone" required="true" />
                    </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" rows="3" maxlength="200" name="inputWhy" id="inputWhy" placeholder="Why do you want to come along?"></textarea>
              </div>
              <div class="form-group" id="add-urls">
                <a href="#" style="text-decoration:none"><span id="add-url">Add a URL of your travel blog.<br>(Totally Optional)</span></a>
            </div>
            <div class="g-recaptcha" id="rc-imageselect" data-sitekey="6Le2Rx8TAAAAAKQqz7p1UJtOEKTHYkvTu-NYDea2"></div>
            <button type="submit" class="btn btn-primary btn-md button-shadow" id="submit">Get Invited</button>
        </form>
    </div>
    <hr>
    <p>Join us on an epic journey to the land of Lamas. We are looking forward to tag you along on one of the best travel indie films to be ever made in India.</p>
</div></div>
</header>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Why should you come along?</h2>
                <hr class="light">
                <p class="text-faded">A unique initiatives for the gypsies and the freaks, the weirdos and the misfits, the rebels out there in open, and the rebels still in hiding, for anyone who wants to act like an adult, and for those who wanna feel like a child - put together by some like spirited oddities who held a different day job, but were too obnoxious to merely exist in it.
                </p>
                <p class="text-faded">
                    Amidst the ocean of managed review sites, and the perpetually-on-sale-marketplaces, the travel blogs updated last decade and the highly-customized-personalized-tour-packages offered by invisible-usual non-existent agents, we are a living-breathing-evolving-community that is based on sharing experiences & adding more life to life.
                </p>
                <p class="text-faded">
                    Are you ready to join us - You are more than ready, if you agree to any of these statements:
                    <br>
                    1. Life is more than that personalized cubicle
                    <br>
                    2. You know you are a gypsy/travel junkie/explorer, waiting for your people.
                    <br>
                    3. You know you need to get out, you know the time is now, you know you belong to the road.
                </p>
                <p class="text-faded">
                    So screw your friends and your partners, who were either too lazy, too zombified or too chickened by the idea of a trip of a lifetime, you trusted their "soon one day" and "next year" way too long, pack your bags, feed the dog, say goodbyes and ride along.
                </p>

                <h2>"Not all who wander are lost"</h2>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How do we make it memorable?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bed wow bounceIn text-primary"></i>
                    <h3>Best of the Vendors</h3>
                    <p class="text-muted">We provide you with a list of our pre-selected, best of the hotels and camps at the least of prices. Totally optional.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-check wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Checkpoints</h3>
                    <p class="text-muted">The infamous 'Next filling station 365 km ahead'. We defy that by providing checkpoints. Repair and refill.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Local Flavour</h3>
                    <p class="text-muted">Travel along with localites to that small water stream they loved since their childhood. (Or that haunted mountain)</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Passion</h3>
                    <p class="text-muted">For the traveler, by the travelers. This is made exclusively for you. Best in class.</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-location-arrow wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Live Tracking</h3>
                    <p class="text-muted">Show the world where are you are with our live tracking, open to everyone, on this website.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-motorcycle wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3>Advance-free Bike</h3>
                    <p class="text-muted">We cover the huge upfront advance to the bike rentals. Can't get any better if you don't have a bike right now.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-plus-square wow bounceIn text-primary" data-wow-delay=".6s"></i>
                    <h3>First Aid</h3>
                    <p class="text-muted">From medicines to bandages, we got it covered. We want you to focus on the experience and leave the worry to us.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-video-camera wow bounceIn text-primary" data-wow-delay=".7s"></i>
                    <h3>Filmed</h3>
                    <p class="text-muted">Our goal is to capture your experiences and show it to the world. An attempt to make an indie out of it.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="the-travelers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Travelers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="public/img/small-pic.png">
                    <h3>Join this spot</h3>
                    <p class="text-muted">This could be you</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="public/img/small-pic.png">
                    <h3>Join this spot</h3>
                    <p class="text-muted">Invitiations Ready</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="public/img/small-pic.png">
                    <h3>Join this spot</h3>
                    <p class="text-muted">Fill in the form</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="public/img/small-pic.png">
                    <h3>Join this spot</h3>
                    <p class="text-muted">More than 4 spots ;)</p>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Did you make into the party?</h2>
            <p class="btn btn-default btn-xl wow tada">We will announce soon</p>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get In Touch!</h2>
                <hr class="primary">
                <p>Want to add on to the project? Want to endorse any part of it? Or just want to know more about the project?</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x"></i>
                <p>Sachin Rajput <br>8130490549</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x" data-wow-delay=".1s"></i>
                <p><a href="mailto:sachin.rajput.k@gmail.com">sachin.rajput.k@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>

